/* Styling for the entire application*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #000;
  --color-primary-alt: #ddd;
  --color-secondary: #fff;
  --color-secondary-disabled: #9ca3af;
  --color-about: crimson;
  --color-experience: orange;
  --color-projects: mediumseagreen;
  --color-projects-alt:seagreen;
  --color-contact: cornflowerblue;
  --font-family-primary: "Sora", sans-serif;
  --font-family-secondary: "Inter", "Sora", sans-serif;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.125rem;
  --font-size-text: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media all and (min-width: 1300px) {
  :root {
    --font-size-h1: 3.5rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-text: 1.125rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  /*max-width: 100%;*/
}

a {
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  line-height: 1.125;
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 4vw, var(--font-size-h1));
}

h2 {
  line-height: 1.25;
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
}

/*
BLOCKQUOTE
*/

blockquote {
  margin-left: 1em;
  padding: 0.4em 1em;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
          -90deg,
          var(--color-primary),
          transparent
  );
  min-width: 60%;
  max-width: 60%;
  max-height: 12em;
}

/*
ANIMATION
*/

@-webkit-keyframes scrolling-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
@keyframes scrolling-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 40px;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
ARTICLE
*/
article > * + *,
aside .container > * + * {
  margin-top: 1em;
}
article > * + h1,
article > * + h2,
article > * + h3,
article > * + h4,
aside .container > * + h1,
aside .container > * + h2,
aside .container > * + h3,
aside .container > * + h4 {
  margin-top: 1.5em;
}
article ol,
aside .container ol {
  padding-left: 20px;
}
article ol li + li,
aside .container ol li + li {
  margin-top: 0.5em;
}

/*
STYLES
*/

#styles > .container,
#main,
.profile {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

#styles > .container,
article {
  border: 4px solid var(--color-primary);
  -webkit-box-shadow: 12px 12px 0 0 var(--color-primary);
  box-shadow: 12px 12px 0 0 var(--color-primary);
  padding: 6rem 2rem 3rem 2rem;
  /*the button styling*/
  background: repeating-radial-gradient(
          var(--color-secondary),
          var(--color-secondary) 6px,
          var(--color-primary) 6px,
          var(--color-primary) 10px,
          transparent 0%,
          transparent 100%
  ),
  repeating-radial-gradient(
          var(--color-secondary),
          var(--color-secondary) 6px,
          var(--color-primary) 6px,
          var(--color-primary) 10px,
          transparent 0%,
          transparent 100%
  ),
    /*the top bar styling*/
  linear-gradient(
          var(--color-primary-alt),
          var(--color-primary-alt) 60px,
          var(--color-primary) 60px,
          var(--color-primary) 64px
  );
  background-color: var(--color-secondary);
  background-position: right 5px, right 30px top 5px, 0 0;
  background-size: 50px 50px, 50px 50px, 100% 64px;
  background-repeat: no-repeat;
  position: relative;
}
@media all and (min-width: 1300px) {
  #styles > .container,
  article {
    padding: 8rem 4rem 4rem 4rem;
    width: 100%;
  }
}
