/*
HEADER
*/

header {
    padding: 2rem .75rem 1rem .75rem;
    background-color: var(--color-secondary);
    border: 4px solid;
    box-shadow: 12px 12px 0 0 var(--color-primary);
    margin-bottom: 3em;
}

@media all and (min-width: 1300px) {
    header {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        border-bottom: 4px solid;
        box-shadow: none;
        width: 100%;
        margin-bottom: 0;
        min-width: 100%;
        padding: 0;
    }
}
header .container {
    min-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media all and (min-width: 1300px) {
    header .container {
        width: 100%;
        min-width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: space-between;
    }
}
header .container h1 {
    font-size: 1.5rem;
}
header .container h2 {
    font-size: 1.25rem;
}
header .container p {
    font-size: 1rem;
}
@media all and (min-width: 1300px) {
    header .container h1,
    header .container h2,
    header .container p {
        font-size: 1rem;
        padding: 1em 1.5em;
        line-height: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
header .container p a {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid;
}
header .container p a:hover {
    border-width: 4px;
}
header .container > * + * {
    margin-top: 0.5em;
}
@media all and (min-width: 1300px) {
    header .container > * + * {
        margin-top: 0;
        border-left: 4px solid;
    }
}

header .link-social:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 3px solid var(--color-primary);
    box-shadow: none;
}


header li {
    min-height: 100%;
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: var(--color-secondary);
}

header ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
}

/*
LINKS
*/

.link-linkedin,
.link-tadepewmusic,
.link-github {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0.75em 1em;
    font-size: 1rem;
    font-weight: 600;
    border: 4px solid;
    text-decoration: none;
    -webkit-box-shadow: inset -4px -4px 0 var(--color-primary-alt);
    box-shadow: inset -4px -4px 0 var(--color-primary-alt);
    margin-right: 0.25em;
    margin-top: 0.5em;
}
@media all and (min-width: 1300px) {
    .link-linkedin,
    .link-tadepewmusic,
    .link-github {
        font-size: 1.125rem;
    }
}
.link-linkedin:hover,
.link-tadepewmusic:hover,
.link-github:hover {
    background-color: var(--color-primary);
    -webkit-box-shadow: inset -4px -4px 0 var(--color-primary);
    box-shadow: inset -4px -4px 0 var(--color-primary);
    color: var(--color-secondary);
    border-color: var(--color-primary);
}