.button {
    text-decoration: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1rem;
    padding: 0.25em 1em;
    border: 3px solid;
    box-shadow:
            inset 2px 2px 0 var(--color-secondary-disabled),
            inset -4px -4px 0 var(--color-secondary-disabled);
    width: 100px;
    min-width: 100px;
    text-align: center;
    align-content: center;
    height: 100%;
    min-height: 100%;
}

.button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 3px solid var(--color-primary);
    box-shadow: none;
}